#repl {
    width: 100%;
}

.gettext input { border: 0; outline: 0; width: 100%; }
.prompt { text-align: right; }

#repl table.entries {
    border: 0;
    width: 96%;
}

.binding {
    font-weight: bold;
    background: #eee;
    width: 80px;
    vertical-align: top;
    text-align: right;
    padding-right: 6px;
}

.entry .expr {
    display: block;
}

.entry .result {
    clear: after;
}

/* Result view buttons */
a.button { margin-left: 1em; }

/* Tree view */

table.array { margin-left: 2em; }

table.object { margin-left: 2em; }
table.object td.key { vertical-align: top; }

.number, .string, .boolean, .null, .date {
    color: blue;
}

/* Table view */
th.ascending:after { content: ' \25be'; }
th.descending:after { content: ' \25b4'; }
