form.prompt input { border: 0; outline: 0; width: 90%; }
form.prompt label:after { content: '> '; }

.history:before { content: '> '; }

.resultvar:after { content: ' = '; }

/* Result view buttons */
a.button { margin-left: 1em; margin-right: 1em; }

.number, .string, .boolean, .null, .date {
    color: blue;
}

/* Tree view */

.composite { margin-left: 2em; }

.object:before { content: '{'; }
.object:after  { content: '}'; }
table.composite > .item { margin-left: 1em; }

/* Compact forms */
ol.array > .item, ul.object > .item { margin-left: 0em; }
ol.array, ul.object { margin-left: 0em; padding: 0; list-style: none; }
ol.array > li, ul.object > li { display: inline-block; }
ol.array .composite, ul.object .composite { display: inline-block; }

.composite .value:after { content: ','; }
.composite :last-child > .value:after { content: ''; }

.object .key:after { content: ':' }
.object .key { vertical-align: top; }

.array:before { content: '['; }
.array:after  { content: ']'; }

.array > .item > .key { display: none; }

.string { color: green; }
.string:before { content: '"'; }
.string:after  { content: '"'; }

/* Table view */
th.ascending:after { content: ' \25be'; }
th.descending:after { content: ' \25b4'; }
