.number, .string, .boolean, .date {
    color: blue;
}

.object:before { content: '{'; }
.object:after  { content: '}'; }

.object .item:after { content: ','; }
.object .item:last-child:after { content: ''; }

.object dt { display: inline; margin: 0; }
.object dt:after { content: ':' }
.object dd { display: inline; margin: 0; }

.array:before { content: '['; }
.array:after  { content: ']'; }

.array > *:after { content: ','; }
.array > *:last-child:after { content: ''; }

.array > dt { display: none; }
.array > dd { display: inline; margin: 0; }

.string { color: green; }
.string:before { content: '"'; }
.string:after  { content: '"'; }

.result var:after { content: ' = '; }

.history:before { content: '> '; }

form.prompt input { border: 0; outline: 0; }
form.prompt label:after { content: '> '; }
