form.prompt input { border: 0; outline: 0; width: 90%; }
form.prompt label:after { content: '> '; }

.history:before { content: '> '; }

/* Result view buttons */
a.button { margin-left: 1em; }

/* Tree view */

table.array { margin-left: 2em; }

table.object { margin-left: 2em; }
table.object td.key { vertical-align: top; }

.number, .string, .boolean, .null, .date {
    color: blue;
}


/* Table view */
th.ascending:after { content: ' \25be'; }
th.descending:after { content: ' \25b4'; }
